@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content">
    <div class="image">
        <div class="info-box">
            <img src="https://photosblobstorage.blob.core.windows.net/images/20170120_131435.jpg" id="img_data" alt="Alternate Text" height="0" width="0" onload="getExif()" />
            <p id="info-fotograf">info her</p>
        </div>
    </div>
    <!--<script src="../vendors/exif-js/exif.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
    <script>
        function getExif() {
            var img = document.getElementById("img_data");
            EXIF.getData(img, function () {
                alert("Exif started");
                alert(EXIF.getTag(this, "Make"));
                var make = EXIF.getTag(this, "Make");
                var model = EXIF.getTag(this, "Model");
                var makeAndModel = document.getElementById("info-fotograf");
                makeAndModel.innerHTML = `${make} ${model}`;
            });
        }
    </script>
</div>
